---
const { company, title, startDate, endDate, description } = Astro.props;
---

<div class="bg-white p-6 rounded-2xl shadow-md">
  <h3 class="text-xl font-bold">{company}</h3>
  <h2 class="text-gray-600">{title}</h2>
  <p class="text-gray-600 text-sm mt-2">{startDate} - {endDate ? endDate : "Present"}</p>
  {
    Array.isArray(description) ? (
      <ul class="list-disc list-inside text-gray-600 text-sm mt-2">
        {description.map(item => <li>{item}</li>)}
      </ul>
    ) : (
      <p class="text-gray-600 text-sm mt-2">{description}</p>
    )
  }
</div>